body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 179, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#vehicle_type_container {
  display: flex;
  flex-direction: row;
  border: 2px solid gray;
}

#specific_vehicle_search {
  border: 2px solid grey;
}

#vehicle_display_container {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
  border: 2px solid gray;
}

#each_vehicle {
  border: 1px solid rgb(127, 127, 127);
  background-color: rgb(207, 207, 207);
  width: 45%;
}